@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Helvetica, sans-serif;
    color: white;
}

body {
    background-color: #212529;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    position: sticky;
    top: 0;
    height: 70px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    z-index: 100;
    background-color: #212529;
}

.left-section {
    align-items: left;
    flex: 1;
    padding-left: 30px;
}

.left-section h1 {
    color: rgb(228, 95, 95);
    font-weight: 700;
}

.middle-section{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.middle-section ul{
    display: flex;
}

.middle-section ul li {
    list-style: none;
}

.middle-section ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    margin-right: 25px;
    transition: color 0.3s ease;
}

.middle-section ul li a.current{
    color: rgb(228, 95, 95);
    border-bottom: white 3px solid;
    padding-bottom: 5px;
}

.middle-section ul li:hover a{
    color: rgb(228, 95, 95)
}

.middle-section ul li:last-child a{
    margin: 0;
}
.right-section {
    display: flex;
    flex: 1;
    align-items: right;
    justify-content: right;
    padding-right:35px;
}

.get-started-btn {
    background: rgb(228, 95, 95);
    padding:  6px 30px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;;
}

.get-started-btn:hover{
    background-color: rgb(226, 43, 43);
}
